<h1>
  <%= link_to icon('plus'), new_persona_path, class: 'pull-right btn btn-default' %>
  Personas
</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Empresa</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= persona.nombre %></td>
        <td><%= persona.apellidos %></td>
        <td><%= persona.empresa %></td>
        <td>
          <div class="btn-group btn-group-sm pull-right">
            <%= link_to icon('eye'), persona, class: 'btn btn-default' %>
            <%= link_to icon('edit'), edit_persona_path(persona), class: 'btn btn-default' %>
            <%= link_to icon('remove'), persona, class: 'btn btn-default', method: :delete,
                  data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
