<%= form_with(model: empresa, local: true) do |form| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :empresa_nombre %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.url_field :url, id: :empresa_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
