<h1>
  <%= link_to icon('plus'), new_empresa_path, class: 'pull-right btn btn-default' %>
  Empresas
</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.nombre %></td>
        <td><%= empresa.url %></td>
        <td>
          <div class="btn-group btn-group-sm pull-right">
            <%= link_to icon('eye'), empresa, class: 'btn btn-default' %>
            <%= link_to icon('edit'), edit_empresa_path(empresa), class: 'btn btn-default' %>
            <%= link_to icon('remove'), empresa, class: 'btn btn-default', method: :delete,
                  data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
