<%= form_with(class: 'form-inline', local: true) do |form| %>

  <div class="form-group">
    <%= form.label :fecha %>
    <%= form.text_field :fecha, id: :frase_fecha, 'data-provide': :datepicker %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
