<%= form_with(model: frase, local: true) do |form| %>
  <%# TODO Hacer esta gestión de errores genérica%>
  <% if frase.errors.any? %>
    <div id="error_explanation" class="text-danger">
      <h2><%= pluralize(frase.errors.count, "error") %> prohibited this frase from being saved:</h2>

      <ul>
      <% frase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :creador_id %>
    <%= form.select :creador_id, Persona.all.collect {|p| [ p, p.id ] }, { include_blank: true } %>
  </div>
  <div class="form-group">
    <%= form.label :fecha %>
    <%= form.text_field :fecha, id: :frase_fecha, 'data-provide': :datepicker %>
  </div>
  <div class="form-group">
    <%= form.label :texto %>
    <%= form.text_area :texto, id: :frase_texto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
