<h1>
  <%= link_to icon('plus'), new_frase_path, class: 'pull-right btn btn-default' %>
  Frases
</h1>

<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <h5>Búsqueda</h5>
      <%= render 'filter_form' %>
    </div>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Creador</th>
      <th>Texto</th>
      <th>Fecha</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @frases.each do |frase| %>
      <tr>
        <td><%= frase.creador %></td>
        <td><%= frase.texto %></td>
        <td><%= frase.fecha %></td>
        <td>
          <div class="btn-group btn-group-sm pull-right">
            <%= link_to icon('eye'), frase, class: 'btn btn-default' %>
            <%= link_to icon('edit'), edit_frase_path(frase), class: 'btn btn-default' %>
            <%= link_to icon('remove'), frase, class: 'btn btn-default', method: :delete,
                  data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
