<p>
  <strong>Creado por:</strong>
  <%= @frase.creador %>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @frase.fecha %>
</p>
<p>
  <strong>Texto:</strong>
  <%= @frase.texto %>
</p>

<%= link_to 'Edit', edit_frase_path(@frase) %> |
<%= link_to 'Back', frases_path %>
